:root {
	--cr-font: "Roboto", sans-serif; 
	--cr-font-mono: Consolas, monaco, 'Ubuntu Mono', 'Liberation Mono', 'Courier New', Courier, monospace;

	/* Light theme */
    --cr-background: #182d56;
    --cr-lighter-blue: #173063;
    --cr-off-blue: #142b5a;
    --cr-gold: #C7A75E;
    --cr-lifelight: #019f63;
    --cr-complication: #7e0f0c;
    --cr-opportunity: #1561be;
    --cr-offwhite: #FCFDFC;
    --cr-table-odd: #5b3773;
    --cr-table-even: #3c244c;
    --cr-white-text: #FCFDFC;
    --cr-dark-text: #173063;

	
}

@media (prefers-color-scheme: dark) {
	:root {

		--cr-background: #11203d;
        --cr-lighter-blue: #112346;
        --cr-off-blue: #0a1d42;
        --cr-offwhite: #182d56;
        --cr-dark-text: #FCFDFC;
	}
}