
#formToggle {
    display: none;
}

.logintop {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.formmenu {
    display: flex;
    flex-flow: column;
    margin: 0;
    position: fixed;
    
    width: 90%;
    bottom: 5rem;
    right: -100vw;
    z-index: 9;
    background-color: var(--spjallbox);
    transition: all 1s ease;
    border: 0;
    border-radius: 8px;

}

.popupform {
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    padding-left: calc(50% - 50vw);
    padding-right: calc(50% - 50vw);
}

.popupform .toggle {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
}


.youtube {
    background-color: red;
}

.instagram {
    background: linear-gradient(to top, yellow 0%, red 50%, magenta 100%);
}

.tiktok {
    background-color: black;
}




.icon {
    font-size: 1rem;
    display: inline-block;
    padding: 2rem;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    background: var(--button);
    border: 0;

    box-sizing: border-box;
    cursor: pointer;
    color: var(--nc-tx);
}

.formdiv {
    display: flex;
    align-items: center;
    justify-content: center;
}

#formToggle:checked ~ .formmenu {
    right: 5vw;
}

@media screen and (min-width: 32.5rem) {

    .formmenu {
        width: 28rem;
    }
    
}