textarea,
select,
input {
	padding: 6px 12px;
	margin-bottom: .5rem;
	background: var(--cr-offwhite);
	color: var(--cr-dark-text);
	border: 1px solid var(--nc-bg-3);
	border-radius: 4px;
	box-shadow: none;
	box-sizing: border-box;
}
input[type="email"],
input[type="tel"],
input[type="text"],
select {
    font-family: var(--cr-font);
    font-size: large;
    height: 2.5rem;
    width: 100%;
}

select {
    width: 10rem;
}

textarea {
    font-size: large;
    font-family: var(--cr-font);
    height: 6rem;
    width: 100%;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
}

fieldset {
    width: 32rem;
    margin-top: 1rem;
    padding: 1rem;
    border: 4px solid var(--cr-gold);
    background-color: var(--cr-background);
    border-radius: 16px;
}

input[type="submit"] {
    margin-top: 1rem;
  }