td,
th {

    text-align: left;
    padding: .5rem;
}

th {
    background-color: var(--cr-complication);
}

thead tr {
    color: var(--cr-white-text);
}

tr {
    color: var(--cr-off-blue);
    background: var(--cr-table-odd);
}

tr:nth-child(even) {
    color: var(--cr-white-text);
    background: var(--cr-table-even);
}

table caption {
    font-weight: bold;
    font-size: 1.5em;
}



table {
	border-collapse: collapse;
	width: 100%
}



/* Símastærðir */

@media screen and (max-width:36rem) {
    
    thead {
        display: none;
    }
    
    caption {
        font-size: 1.3em;
    }
    
    td {
        display: block;
        text-align: right;
    }
    
    tbody tr {
        display: block;
    }
    
    td::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }
    
    td:last-child {
        border-bottom: 0;
    }
}


